<p-dialog
  header="Edit Profile"
  [modal]="true"
  [(visible)]="visible"
  [style]="{ width: '25rem' }"
>
  <span class="p-text-secondary block mb-5">Add a new connection</span>
  <div *ngIf="formGroup" [formGroup]="formGroup">
    <div class="flex align-items-center gap-3 mb-3">
      <label for="name" class="font-semibold w-6rem">Name</label>
      <input
        pInputText
        id="name"
        class="flex-auto"
        autocomplete="off"
        formControlName="name"
      />
    </div>
    <div class="flex align-items-center gap-3 mb-3">
      <label for="host" class="font-semibold w-6rem">Host</label>
      <input
        pInputText
        id="host"
        class="flex-auto"
        autocomplete="off"
        formControlName="host"
      />
    </div>
    <div class="flex align-items-center gap-3 mb-3">
      <label for="port" class="font-semibold w-6rem">Port</label>
      <input
        pInputText
        id="port"
        class="flex-auto"
        autocomplete="off"
        formControlName="port"
      />
    </div>
    <div class="flex align-items-center gap-3 mb-3">
      <label for="database" class="font-semibold w-6rem">Database</label>
      <input
        pInputText
        id="database"
        class="flex-auto"
        autocomplete="off"
        formControlName="database"
      />
    </div>
    <div class="flex align-items-center gap-3 mb-3">
      <label for="user" class="font-semibold w-6rem">User</label>
      <input
        pInputText
        id="user"
        class="flex-auto"
        autocomplete="off"
        formControlName="user"
      />
    </div>
    <div class="flex align-items-center gap-3 mb-3">
      <label for="password" class="font-semibold w-6rem">Password</label>
      <input
        pInputText
        id="password"
        class="flex-auto"
        autocomplete="off"
        type="password"
        formControlName="password"
      />
    </div>
  </div>

  <div class="flex justify-content-end gap-2">
    <p-button label="Cancel" severity="secondary" (onClick)="visible = false" />
    <p-button label="Save" (onClick)="connect()" />
  </div>
</p-dialog>
